.card{
    width: 350px;
    border: 1px solid black;

    img{
        width: 250px;
        height: 200px;
    }
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    button{
        i{
            font-size: 30px;
        }
    }
}